.album-songs-and-album-head-container{
    position: sticky;
    top: 75px;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    color: #b1b1b1;
    font-size: 15px;
    padding-right: 1.2rem;
    margin-bottom: 10px;
    border-bottom: solid 0.5px #333;
}