.librery-track-main-container{
    display: flex;
    padding: 5px;
    align-items: center;
    cursor: pointer;
    object-fit: contain;
    
}
.librery-img{
    height: 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-right: 15px;
    
}

.librery-track-name,
.librery-track-type{
    font-size: 15px;
    overflow: hidden;
    line-height: 1.6;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.librery-track-type{
    color: #9c9c9c;
}
.librery-track-main-container:hover{
    background-color: #282828;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}