.main {
    position: relative;
    margin: 0.6rem 0.1rem;
    border-radius: 0.5rem;
    flex: 0.8;
    background: linear-gradient(#1f1e1e 10%, #0000 90%);
    overflow-x: scroll;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    height: 100vh;
    
  }
  .main-top {
    position: fixed;
    z-index: 9999;
    width: inherit;
    top: 0;
    height: 8vh;
    right: 0px;
    left: 0;
    display: flex;
    width: 78.7%;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background: #121212cc;
    transition: background 0.1s linear;
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    -ms-transition: background 0.1s linear;
    -o-transition: background 0.1s linear;
  }
  .navigation-arrows {
    display: flex;
    align-items: center;
  }
  .right-arrow,
  .left-arrow {
    display: grid;
    place-items: center;
    background: #000;
    width: 40px;
    margin: 0 10px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .search-input-icon-container{
    position: relative;
    display: flex;
    
  }
  .search-icon-container{
    position: absolute;
    top: 68%;
    left: 10px;
    transform: translatey(-80%);
    -webkit-transform: translatey(-80%);
    -moz-transform: translatey(-80%);
    -ms-transform: translatey(-80%);
    -o-transform: translatey(-80%);
}
  .search-icon{
    
    font-size: 1rem;
        
  }
  .search-input{
    height: 3rem;
    width: 350px;
    background-color: #242424;
    color: #818181;
    font-size:13px;
    border-radius: 25px;
    padding-left:35px;
    outline: none;
    
    border-width: 0px;
    padding-right: 15px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
  .search-input:hover{
    height: 3rem;
    width: 350px;
    background-color: #242424;
    color: #fff;
    font-size: 14px;
    padding-right: 15px;
    border-radius: 25px;
    padding-left: 35px;
    outline: none;
    border: solid 2px #fff;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}


  .buttons-container button {
    margin: 0 15px;
  }
  
  .log-in-button {
    border: 0;
    outline: 0;
    display: flex;
    font-size: 14px;
    background: transparent;
    color: #aaa;
    font-weight: 600;
    cursor: pointer;
  }
  .buttons-container {
    margin-left: auto;
  }
  .logout-icon{
    margin-right: 5px;
  }
  .playlist-play-icon1 {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin: 0 10px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }
  .buttons-container button:hover {
    transform: scale(1.1);
    margin: 0 15px;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  .log-in-button {
    background: #ffffff;
    color: #0a0a0a;
    padding: 10px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  .sign-up-button:hover {
    color: #fff;
  }
  .main::-webkit-scrollbar {
    width: 10px;
  }
  .main::-webkit-scrollbar-thumb {
    background: #888;
    transition: all ease-in-out 5000ms;
    -webkit-transition: all ease-in-out 5000ms;
    -moz-transition: all ease-in-out 5000ms;
    -ms-transition: all ease-in-out 5000ms;
    -o-transition: all ease-in-out 5000ms;
  }
  .main::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .popup-container{

  }
  .pop-up-bg-container{
    background-color: #0767f7;
    height: 250px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .pop-up-text{
    color: #fff;
    
    font-size: 18px;
    margin-bottom: 20px;
  }
  .popop-up-button{
    background-color: #fff;
    height: 40px;
    width: 90px;
    outline: none;
    border-width: 0px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    
  }