.search-card-container{
    background-color: #202020;
    padding: 2rem;
    padding-left: 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}
.search-card-artist-img{
    width: 100px ;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.searched-value{
    font-size: 28px;
    font-weight: 900;
    
}
.search-card-artist{
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}